# Pengambilan Data dari API Kaggle
---
Salah satu portal yang menyediakan dataset untuk project Data Science adalah Kaggle (https://www.kaggle.com/).

**1. Install Modul kaggle:**

In [ ]:
# Install modul kaggle
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
# Install modul kaggle secara eksternal melalui anaconda prompt:

![image.png](attachment:image.png)

**2. Create Token API kaggle:**

![image.png](attachment:image.png)

1. Login Kaggle.com 
2. Kemudian pada menu Profile --> Account
3. Klik Create New Api Token 
4. Maka akan terdownload file kaggle.json

![image.png](attachment:image.png)

Kaggle API secara default mengasumsikan bahwa file kaggle.json tersebut berada di dalam folder: 
* ~/.kaggle/ (Linux/Mac)  
* C:\Users\<Windows-username>\.kaggle\ (Windows)

Jika folder tersebut belum ada:
1. Buat folder di direktori C:\Users\<Windows-username>\.kaggle\
2. letakkan file kaggle.json kedalam folder tersebut

**3. Download Dataset dari Kaggle:**

![image.png](attachment:image.png)
<div class="text-center">
    Dokumentasi Kaggle Commands selengkapnya <a href="https://github.com/Kaggle/kaggle-api#datasets">Disini</a>
</div>

In [11]:
!cp /content/kaggle.json ~/.kaggle/
! chmod 600 `/.kaggle/kaggle.json

/bin/bash: -c: line 0: unexpected EOF while looking for matching ``'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [13]:
# Mencari dataset yang tersedia di kaggle --> pilih data provider dari UCIML
!kaggle datasets list -s Iris

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
ref                                                                 title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
datasets/uciml/iris                                                 Iris Species                                        4KB  2016-09-27 07:38:05         271625       2926  0.7941176
datasets/arshid/iris-flower-dataset                                 Iris Flower Dataset                               1010B  2018-03-22 15:18:06          50964        433  0.8235294
datasets/vikrishnan/iris-dataset                                    Iris Dataset                                       999B  2017-08-03 16:00:44           3736         28  0.7647059
datasets/therohk/ireland-historical-news                            Irish Times - Waxy-Wany News                       52MB  2021-09-25 10:52:48           3039        158  1.0
datasets/chuckyin/iris-datasets                                     Iris datasets                                       1KB  2017-03-10 09:35:43           2067         16  0.7352941
datasets/parulpandey/palmer-archipelago-antarctica-penguin-data     Palmer Archipelago (Antarctica) penguin data       11KB  2020-06-09 10:14:54          19828        167  0.9705882
datasets/rtatman/iris-dataset-json-version                          Iris Dataset (JSON Version)                         1KB  2018-04-06 20:21:31           6960         50  0.75
datasets/jillanisofttech/iris-dataset-uci                           Iris dataset uci                                    1KB  2021-11-06 15:11:47            113         19  1.0
datasets/fleanend/birds-songs-numeric-dataset                       Birds' Songs Numeric Dataset                       25MB  2019-04-01 09:09:46            910         27  0.9411765
datasets/conorrot/irish-weather-hourly-data                         Irish Weather (hourly data)                        67MB  2020-06-29 20:15:18           2066         42  0.8235294
datasets/saurabh00007/iriscsv                                       Iris.csv                                            1KB  2017-11-09 07:34:35          23787         67  0.4117647
datasets/jeffheaton/iris-computer-vision                            Iris Computer Vision                                5MB  2020-11-24 21:23:29            446         13  0.875
datasets/arslanali4343/iris-species                                 Iris Species                                        2KB  2020-07-02 06:09:09             85         13  0.5625
datasets/kamrankausar/iris-data                                     iris_data                                           1KB  2017-11-30 10:26:01           1210         14  0.64705884
datasets/styven/iris-dataset                                        Iris dataset                                        1KB  2017-11-04 14:10:12            825          8  0.29411766
datasets/olgabelitskaya/flower-color-images                         Flower Color Images                                50MB  2020-10-01 22:48:07           9606        171  0.75
datasets/naureenmohammad/mmu-iris-dataset                           MMU iris dataset                                   30MB  2020-07-25 18:38:33           1028         27  0.5625
datasets/ashkhagan/palmer-penguins-datasetalternative-iris-dataset  Palmer Penguins Dataset-Alternative Iris Dataset    3KB  2020-06-30 06:30:43            495         12  0.8235294
datasets/shantanuss/iris-flower-dataset                             IRIS flower dataset                                 1KB  2020-01-18 19:43:18            246          3  0.9411765
datasets/jodx666/iris-is                                            IRIS is                                            981B  2018-02-16 09:11:35            344          6  0.3125

In [14]:
# Download dan ekstrak dataset, secara default akan berada dalam satu direktori dengan notebook ini
!kaggle datasets download uciml/iris --unzip

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading iris.zip to /content
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 3.51MB/s]

### PENGGUNAAN LIBRARY PANDAS dan NUMPY

Pada materi ini, peserta sudah mendapatkan pemahaman mengenai data dan dataset. Penggunaan library pada Python memberikan kemudahan dalam proses data understanding. Beberapa library yang digunakan adalah library Pandas dan Numpy.

Lakukan import Library Pandas dan Library Numpy

In [15]:
#Import Library Pandas
import pandas as pd

#Import Library Numpy
import numpy as np

### DATAFRAME

DataFrame adalah struktur data 2 dimensi yang berbentuk tabular (mempunyai baris dan kolom). Hampir semua data tidak hanya memiliki 1 kolom tetapi lebih dari 1 kolom, sehingga lebih cocok menggunakan pandas DataFrame untuk mengolahnya.

Penggunaan dataframe pada Python dengan menggunakan syntaks: df.

In [16]:
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe Lalu tampilkan 5 baris awal dataset dengan function head()

df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# Telaah Data

Pada telaah data, dapat dilakukan untuk mengetahui:
- tipe data dari setiap kolom
- deskripsi statistik data

In [17]:
#Tampilkan tipe data dari kolom yang ada pada dataset
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [18]:
#Hitung ukuran (jumlah baris dan kolom) dari dataset
df.size

900

In [19]:
#Menampilkan berapa baris, dan jumlah kolom pada dataset
df.shape

(150, 6)

In [20]:
#Tampilkan data untuk kolom "Id" dan kolom "Species" dalam bentuk dataframe
df[['Id', 'Species']]

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [21]:
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [26]:
#Tampilkan data hanya kolom "Id" dan kolom "Species", pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)

df[['Id', 'Species']].head(10)

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa
9  10  Iris-setosa

In [ ]:
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe
df.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
#Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe
df.tail(3)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# Deskripsi Statistik Data

DataFrame method describe() menampilkan statistik dasar setiap kolom data yang bertipe numerik, mencakup banyaknya data (count), rerata aritmetik (mean), simpangan baku (std), nilai terkecil (min), kuartil pertama (25%), kuartil kedua/median (50%), kuartil ketiga (75%), dan nilai terbesar (max).

In [24]:
#Penggunaan Metode describe untuk komputasi statistik
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [23]:
#Menampilkan korelasi antar columns
df.corr()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Id,1.000000,0.716676,-0.397729,0.882747,0.899759
SepalLengthCm,0.716676,1.000000,-0.109369,0.871754,0.817954
SepalWidthCm,-0.397729,-0.109369,1.000000,-0.420516,-0.356544
PetalLengthCm,0.882747,0.871754,-0.420516,1.000000,0.962757
PetalWidthCm,0.899759,0.817954,-0.356544,0.962757,1.000000

In [ ]:
#Hitung korelasi dataset untuk kolom PetalLengthCm, PetalWidthCm
df[['PetalLengthCm', 'PetalWidthCm']].corr()

               PetalLengthCm  PetalWidthCm
PetalLengthCm       1.000000      0.962757
PetalWidthCm        0.962757      1.000000

In [ ]:
#Gunakan method describe pada dataset yang sudah di load untuk data bertype objek
df['Species'].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: Species, dtype: object

In [27]:
#Hitung nilai Mean dari dataset
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
#Hitung nilai Mean untuk kolom PetalLengthCm
df['PetalLengthCm'].mean()

3.758666666666666

In [ ]:
#Cari nilai minimal untuk kolom SepalWidthCm
df['SepalWidthCm'].min()

2.0

# Method Groupby

Method groupby memungkinkan analisis dilakukan secara per kelompok nilai atribut tertentu.

In [ ]:
#Hitung nilai mean dari dataset untuk SepalLengthCm per Species dengan metode groupby
df.groupby(['SepalLengthCm', 'Species']).mean()

                                       Id  SepalWidthCm  PetalLengthCm  \
SepalLengthCm Species
4.3           Iris-setosa       14.000000      3.000000       1.100000
4.4           Iris-setosa       30.333333      3.033333       1.333333
4.5           Iris-setosa       42.000000      2.300000       1.300000
4.6           Iris-setosa       20.500000      3.325000       1.325000
4.7           Iris-setosa       16.500000      3.200000       1.450000
4.8           Iris-setosa       25.400000      3.180000       1.580000
4.9           Iris-setosa       21.250000      3.075000       1.475000
              Iris-versicolor   58.000000      2.400000       3.300000
              Iris-virginica   107.000000      2.500000       4.500000
5.0           Iris-setosa       29.625000      3.362500       1.450000
              Iris-versicolor   77.500000      2.150000       3.400000
5.1           Iris-setosa       27.125000      3.600000       1.562500
              Iris-versicolor   99.000000      2.500000       3.000000
5.2           Iris-setosa       30.000000      3.666667       1.466667
              Iris-versicolor   60.000000      2.700000       3.900000
5.3           Iris-setosa       49.000000      3.700000       1.500000
5.4           Iris-setosa       17.400000      3.660000       1.540000
              Iris-versicolor   85.000000      3.000000       4.500000
5.5           Iris-setosa       35.500000      3.850000       1.350000
              Iris-versicolor   79.600000      2.440000       3.980000
5.6           Iris-versicolor   77.200000      2.820000       4.060000
              Iris-virginica   122.000000      2.800000       4.900000
5.7           Iris-setosa       17.500000      4.100000       1.600000
              Iris-versicolor   85.800000      2.820000       4.100000
              Iris-virginica   114.000000      2.500000       5.000000
5.8           Iris-setosa       15.000000      4.000000       1.200000
              Iris-versicolor   81.333333      2.666667       4.000000
              Iris-virginica   120.000000      2.733333       5.100000
5.9           Iris-versicolor   66.500000      3.100000       4.500000
              Iris-virginica   150.000000      3.000000       5.100000
6.0           Iris-versicolor   78.000000      2.800000       4.525000
              Iris-virginica   129.500000      2.600000       4.900000
6.1           Iris-versicolor   75.500000      2.875000       4.500000
              Iris-virginica   131.500000      2.800000       5.250000
6.2           Iris-versicolor   83.500000      2.550000       4.400000
              Iris-virginica   138.000000      3.100000       5.100000
6.3           Iris-versicolor   72.666667      2.700000       4.666667
              Iris-virginica   124.500000      2.933333       5.366667
6.4           Iris-versicolor   63.500000      3.050000       4.400000
              Iris-virginica   125.600000      2.920000       5.460000
6.5           Iris-versicolor   55.000000      2.800000       4.600000
              Iris-virginica   120.250000      3.050000       5.400000
6.6           Iris-versicolor   67.500000      2.950000       4.500000
6.7           Iris-versicolor   77.000000      3.066667       4.700000
              Iris-virginica   133.200000      3.040000       5.600000
6.8           Iris-versicolor   77.000000      2.800000       4.800000
              Iris-virginica   128.500000      3.100000       5.700000
6.9           Iris-versicolor   53.000000      3.100000       4.900000
              Iris-virginica   134.333333      3.133333       5.400000
7.0           Iris-versicolor   51.000000      3.200000       4.700000
7.1           Iris-virginica   103.000000      3.000000       5.900000
7.2           Iris-virginica   122.000000      3.266667       5.966667
7.3           Iris-virginica   108.000000      2.900000       6.300000
7.4           Iris-virginica   131.000000      2.800000       6.100000
7.6           Iris-virginica   106.000000      3.000000       6.600000
7.7           Iris-virginica   124.000000      3.050000       6.600000
7.9           Iris-virginica   132.000000      3.800000       6.400000

                               PetalWidthCm
SepalLengthCm Species
4.3           Iris-setosa          0.100000
4.4           Iris-setosa          0.200000
4.5           Iris-setosa          0.300000
4.6           Iris-setosa          0.225000
4.7           Iris-setosa          0.200000
4.8           Iris-setosa          0.200000
4.9           Iris-setosa          0.125000
              Iris-versicolor      1.000000
              Iris-virginica       1.700000
5.0           Iris-setosa          0.287500
              Iris-versicolor      1.000000
5.1           Iris-setosa          0.312500
              Iris-versicolor      1.100000
5.2           Iris-setosa          0.166667
              Iris-versicolor      1.400000
5.3           Iris-setosa          0.200000
5.4           Iris-setosa          0.320000
              Iris-versicolor      1.500000
5.5           Iris-setosa          0.200000
              Iris-versicolor      1.180000
5.6           Iris-versicolor      1.300000
              Iris-virginica       2.000000
5.7           Iris-setosa          0.350000
              Iris-versicolor      1.220000
              Iris-virginica       2.000000
5.8           Iris-setosa          0.200000
              Iris-versicolor      1.133333
              Iris-virginica       2.066667
5.9           Iris-versicolor      1.650000
              Iris-virginica       1.800000
6.0           Iris-versicolor      1.425000
              Iris-virginica       1.650000
6.1           Iris-versicolor      1.325000
              Iris-virginica       1.600000
6.2           Iris-versicolor      1.400000
              Iris-virginica       2.050000
6.3           Iris-versicolor      1.466667
              Iris-virginica       1.983333
6.4           Iris-versicolor      1.400000
              Iris-virginica       2.060000
6.5           Iris-versicolor      1.500000
              Iris-virginica       2.000000
6.6           Iris-versicolor      1.350000
6.7           Iris-versicolor      1.533333
              Iris-virginica       2.220000
6.8           Iris-versicolor      1.400000
              Iris-virginica       2.200000
6.9           Iris-versicolor      1.500000
              Iris-virginica       2.233333
7.0           Iris-versicolor      1.400000
7.1           Iris-virginica       2.100000
7.2           Iris-virginica       1.966667
7.3           Iris-virginica       1.800000
7.4           Iris-virginica       1.900000
7.6           Iris-virginica       2.100000
7.7           Iris-virginica       2.200000
7.9           Iris-virginica       2.000000

# Method Value Count

value_counts() menghasilkan frekuensi setiap nilai unik di dalam kolom, dan yang tertinggi count-nya adalah merupakan modus pada kolom tersebut.

In [ ]:
#Hitung frekuensi pada kolom 'Species' dengan menggunakan metode value_counts()
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
#Hitung frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts()
df['PetalLengthCm'].value_counts()

1.5    14
1.4    12
5.1     8
4.5     8
1.6     7
1.3     7
5.6     6
4.7     5
4.9     5
4.0     5
4.2     4
5.0     4
4.4     4
4.8     4
1.7     4
3.9     3
4.6     3
5.7     3
4.1     3
5.5     3
6.1     3
5.8     3
3.3     2
5.4     2
6.7     2
5.3     2
5.9     2
6.0     2
1.2     2
4.3     2
1.9     2
3.5     2
5.2     2
3.0     1
1.1     1
3.7     1
3.8     1
6.6     1
6.3     1
1.0     1
6.9     1
3.6     1
6.4     1
Name: PetalLengthCm, dtype: int64